#{extends "main_list.html"/}
<form>
<table cellspacing="0" cellpadding="0" width="100%" border="0" class="t0">
<tbody><tr><td valign="top" width="100%">
<table cellspacing="0" cellpadding="0" width="100%"><tr>
</tr><tr height="22">
<td valign="middle" align="left" style="padding:5px;">
#{select "field",value:params.field}
#{option}全部#{/option}
#{option 'wXName'}服务号名称#{/option}
#{option 'token'}token#{/option}
#{option 'appid'}appid#{/option}
#{option 'secret'}secret#{/option}
#{option 'access_token'}access_token#{/option}
#{/select}#{select "condition",value:params.condition}
#{option 'like'}包含#{/option}
#{option '='}=#{/option}
#{option '>'}>#{/option}
#{option '<'}<#{/option}
#{/select}
<input type="text" name="search" value="${params.search}" id="obj_keyword" class="txt01" size="40"/>
<input type="submit" value="搜索" class="btn01"/>
</td>
</tr>
</table>
</td></tr></tbody></table>
</form>
<form action="@@{delete()}" method="post" onsubmit="return chk_arrayid();" id="listform">
<table height="100%" cellspacing="0" cellpadding="0" width="100%" border="0" class="t0">
<tbody><tr><td valign="top" align="middle" width="100%" height="100%">
<div style="height:${session.get("tableHeight")}px;overflow: auto;">
<table class="t1" cellspacing="0" cellpadding="0">
<thead>
<tr><td colspan="8" class="title">微信配置</td></tr>
<tr height="22">
<td width="1%"><input type="checkbox" id="chkall"/></td>
<td width="10%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','wXName').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
服务号名称</a></td>
<td width="10%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','token').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
token</a></td>
<td width="10%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','appid').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
appid</a></td>
<td width="20%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','secret').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
secret</a></td>
<td width="40%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','access_token').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
access_token</a></td>
<td width="10%">&{'option.title'}</td>
</tr></thead>
<tbody>
#{list pagedList.list,as:'row'}
<tr id="tr_${row.id}" class="row">
<td><input type="checkbox" name="arrayid" value="${row.id}"/></td>
<td>${row.wXName}&nbsp;</td>
<td>${row.token}&nbsp;</td>
<td>${row.appid}&nbsp;</td>
<td>${row.secret}&nbsp;</td>
<td>${row.access_token}&nbsp;</td>
<td>
<!--<a href="javascript:void(0);" onclick="open_dialog('@@{detail(row.id)}',700,400)">查看</a>-->
<a href="javascript:void(0);" onclick="open_dialog('@@{show(row.id)}',700,400)">修改</a>
<a href="javascript:void(0);" onclick="messageinfor(this)">token重新获取</a>
</td>
</tr>
#{/list}
#{list 0..Integer.parseInt(session.get("pageSize"))-pagedList.list.size(),as:'i'}
<tr id="tr0" class="row">
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
#{/list}
</tbody>
</table>
</div>
</td></tr></tbody></table>
</form>
<script>
	function messageinfor(obj){
		var message="是要重新获取token吗？";
		if(!confirm(message)) return false;
		window.location.href = '@@{getToken()}';
	}
</script>