#{extends "main_list.html"/}
#{set title:"修改菜单信息"/}
<script src="/public/javascripts/common.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/javascripts/loading.js" type="text/javascript" charset="utf-8"></script>
#{form @@save(menu.id),id:'form1'}
<div class="form">
<fieldset>
<legend>菜单信息</legend>
<div class="field" style="width: 90%;">
<label>上一级</label>
<select name="menu.pid" id="menu_pid" style="width: 153px;">
	<option value="0">--请选择--</option>
	#{list list,as:'row'}
        <option value="${row.cid}" #{if menu.pid==row.cid}selected="selected"#{/if}> ${row.name}</option>
    #{/list}
</select>
</div>
<div class="field" style="width: 90%;">
#{field "menu.name"}
<label for="${field.id}">菜单名</label>
<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="txt01 emptyInfo"/>
#{/field}
</div>
<div class="field" style="width: 90%;">
#{field "menu.url"}
<label for="${field.id}">链接</label>
<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="txt01 emptyInfo"/>
#{/field}
</div>
<div class="field" style="width: 90%;">
#{field "menu.target"}
<label for="${field.id}">打开方式</label>
<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="txt01 emptyInfo"/>
#{/field}
</div>
<div class="field" style="width: 90%;">
#{field "menu.icon"}
<label for="${field.id}">图片</label>
<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="txt01 "/>
#{/field}
</div>
<div class="field" style="width: 90%;">
#{field "menu.sort"}
<label for="${field.id}">排序</label>
<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="txt01 emptyInfo"/>
#{/field}
</div>
<div class="field" style="width: 90%;">
#{field "menu.flag"}
<label for="${field.id}">状态</label>
<select id="${field.id}" name="${field.name}">
	<option value="1" #{if row.flag=="1"}selected="selected"#{/if}>启用</option>
	<option value="0" #{if row.flag=="0"}selected="selected"#{/if}>关闭</option>
</select>
#{/field}
</div>
</fieldset>
<p class="buttons">
<input type="button" name="_save" value="&{'option.save'}" class="btn01" onclick="check();"/>
<input type="button" name="_close" value="&{'option.close'}" class="btn01 option_close"/>
</p>
</div>
#{/form}
<script>
	function check(){
		if(checkEmptyInfo()) {
			loadingcontent();
			$("#form1").submit();
		}
	}
</script>