<div class="js_appmsg_list appmsg_list media_dialog" style="height:400px;">
			#{set index=0 /}
			#{set size=list.size() /}
			
			<div class="appmsg_col">
				<div class="inner">
					#{list list,as:"newsInfo"}
					#{if index<=size/2}
					<div id="appmsg${newsInfo.id}">
						<div class="appmsg multi " data-id="${newsInfo.id}" data-fileid="${newsInfo.id}">
							<div class="appmsg_content">
								<div class="appmsg_info">
									<em class="appmsg_date">${newsInfo.created?.format("MM月dd日")}</em>
								</div>
								
								#{list newsInfo.imagetext,as:"imagetext"}
								#{if imagetext_index==1}
								<div class="cover_appmsg_item">
									<h4 class="appmsg_title">
										<a href="/newsinfos/detail?id=${imagetext.id}" target="_blank">${imagetext.title}</a>
									</h4>
									<div class="appmsg_thumb_wrp">
										<img src="${imagetext.imgStock?.path}" alt="${imagetext.imgStock?.name}" class="appmsg_thumb" />
									</div>
								</div>
								#{/if}
								#{else}
								<div class="appmsg_item">
									<img src="${imagetext.imgStock?.path}" alt="${imagetext.imgStock?.name}" class="appmsg_thumb">
									<h4 class="appmsg_title">
										<a href="/newsinfos/detail?id=${imagetext.id}" target="_blank">${imagetext.title}</a>
									</h4>
								</div>
								#{/else}
								#{/list}
							</div>
							<div class="appmsg_mask"></div>
							<i class="icon_card_selected">已选择</i>

						</div>
					</div>
					#{set index=index+1 /}
					#{/if}
					#{/list}
				</div>
			</div>
			
			
			&nbsp;		
			<div class="appmsg_col">
				<div class="inner">
					#{list list,as:"newsInfo"}
					#{if index>size/2}
					<div id="appmsg${newsInfo.id}">
						<div class="appmsg multi" data-id="${newsInfo.id}" data-fileid="${newsInfo.id}">
							<div class="appmsg_content">
								<div class="appmsg_info">
									<em class="appmsg_date">${newsInfo.created?.format("MM月dd日")}</em>
								</div>
								#{list newsInfo.imagetext,as:"imagetext"}
								#{if imagetext_index==1}
								<div class="cover_appmsg_item">
									<h4 class="appmsg_title">
										<a href="/newsinfos/detail?id=${imagetext.id}" target="_blank">${imagetext.title}</a>
									</h4>
									<div class="appmsg_thumb_wrp">
										<img src="${imagetext.imgStock?.path}" alt="${imagetext.imgStock?.name}" class="appmsg_thumb">
									</div>
								</div>
								#{/if}
								#{else}
								<div class="appmsg_item">
									<img src="${imagetext.imgStock?.path}" alt="${imagetext.imgStock?.name}" class="appmsg_thumb">
									<h4 class="appmsg_title">
										<a href="/newsinfos/detail?id=${imagetext.id}" target="_blank">${imagetext.title}</a>
									</h4>
								</div>
								#{/else}
								#{/list}
							</div>


							<div class="appmsg_mask"></div>
							<i class="icon_card_selected">已选择</i>

						</div>
					</div>
					#{/if}
					#{set index=index+1 /}
					#{/list}
				</div>
			</div>
			
		</div>