<div class="tab_content" style="display: block;">
	<div class="js_imgArea inner ">
		<div id="msgSender_media_${img.imggroups?.id}_${img.id}">
			<div class="appmsgSendedItem simple_img">
				<a class="title_wrp" href="${img.path}" target="_blank"> 
					<img class="icon" src="${img.path}">
					<span class="title">[图片]</span>
				</a>
			</div>
			<a href="javascript:;" class="link_dele" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">删除</a>
		</div>
	</div>
</div>