#{extends "main_list.html"/}
%{
    def map = [:]
    map['object'] 		= "wordType"
    map['fields'] 		= ['name','sort','flag','notice']
    map['widths'] 		= ['20','10','10','47']
    map['width']		= 600
    map['height']		= 260
    map['searchFields']         = ['name']
}%
#{table.list map}
#{table.custom 'flag'}
${row.flag==1?"使用":"停用"}
#{/table.custom}
#{table.custom 'option'}
&nbsp;
#{if roleMap['detail']!=0}
<a href="javascript:void(0);" onclick="open_dialog('/WordTypes/detail?id=${row.id}',1200,600)">查看</a>
#{/if}
#{if roleMap['show']!=0}
<a href="javascript:void(0);" onclick="open_dialog('/WordTypes/show?id=${row.id}',1200,600)">修改</a>
#{/if}
#{if roleMap['delete']!=0}
<a href="javascript:void(0);" class="option_delete" url="/WordTypes/delete?id=${row.id}">删除</a>
#{/if}
#{/table.custom}
#{table.custom 'buttons'}
#{if roleMap['blank']!=0}
<input type="button" class="btn01" value="添加" onclick="open_dialog('@@{blank}',1200,400)"/>
#{/if}
#{if roleMap['delete']!=0}
<input type="submit" class="btn01" value="删除"/>
#{/if}
<script>
	function messageinfor(obj){
		var message="是要重新获取token吗？";
		if(!confirm(message)) return false;
		window.location.href = '@@{getconfig()}';
	}
</script>
#{/table.custom}
#{/table.list}