#{extends "main_list.html"/}
#{set title:"导出Excel"/}
<form id="form1">
<table cellspacing="0" cellpadding="0" width="100%" border="0" class="t0">
<tbody><tr><td valign="top" width="100%">
<table cellspacing="0" cellpadding="0" width="100%"><tr>
</tr><tr height="22">
<td valign="middle" align="left" style="padding:5px;">
日期： <input type="text" id="startTime" name="startTime" value="${startTime.format('yyyy-MM-dd')}"  size="10" style="width: 130px;" class="txt01 Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" readonly="readonly"/>&nbsp;
至 <input type="text" id="endTime" name="endTime" value="${endTime.format('yyyy-MM-dd')}"  size="10" style="width: 130px;" class="txt01 Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" readonly="readonly"/>&nbsp;
<input type="button" onclick="checkdate('listExcel')" value="搜索" class="btn01"/>
<input type="button" onclick="checkdate('export_excel')" value="生成Excel" style="width: 100px;" class="btn01"/>
</td>
</tr>
</table>
</td></tr></tbody></table>
</form>
<form action="@@{delete()}" method="post" onsubmit="return chk_arrayid();" id="listform" >
<table height="100%" cellspacing="0" cellpadding="0" width="100%" border="0" class="t0">
<tbody><tr><td valign="top" align="middle" width="100%" height="100%">
<div style="height:400px;overflow: auto;">
<table class="t1" cellspacing="0" cellpadding="0">
<thead>
<tr><td colspan="15" class="">客户信息 <span style="padding-left: 20px;color: red;">${startTime.format('yyyy-MM-dd')}&nbsp; 至 &nbsp;${endTime.format('yyyy-MM-dd')}</span>             </td></tr>
<tr height="22">
<td width="2.5%">序列</td>
<td width="8%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','number').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
创建时间</a></td>
<td width="5%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','number').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
客户编号</a></td>
<td width="9%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','serviceNumber').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
微信昵称</a></td>
<td width="5%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','name').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
姓名</a></td>
<td width="6%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','telephone').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
手机</a></td>
<td width="10%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','email').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
邮箱</a></td>
<td width="10%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','unit').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
单位</a></td>
<td width="6%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','Subject').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
科室</a></td>
<td width="10%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','road').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
得知方式</a></td>
<td width="8%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','serviceNumber').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
服务号名称</a></td>
<td width="10%">&{'option.title'}</td>
</tr></thead>
<tbody>
#{list customerinfo,as:'row'}
<tr id="tr_${row.id}" class="row">
<td style="text-align: center;">${row_index}</td>
<td>${row.created.format('yyyy-MM-dd HH:mm')}&nbsp;</td>
<td>${row.number}&nbsp;</td>
<td>${row.nickname.trim()}&nbsp;</td>
<td>${row.name}&nbsp;</td>
<td>${row.telephone}&nbsp;</td>
<td>${row.email}&nbsp;</td>
<td>${row.unit==""?"其他":"${row.unit}"}&nbsp;</td>
<td>${row.subject==""?"其他":"${row.subject}"}&nbsp;</td>
<td>${row.road==""?"其他":"${row.road}"}&nbsp;</td>
<td>${row.serviceNumber}&nbsp;</td>
<td>
<a href="javascript:void(0);" onclick="open_dialog('@@{detail(row.id)}',700,400)">查看</a>
</td>
</tr>
#{/list}
#{list 0..14-customerinfo.size(),as:'i'}
<tr id="tr0" class="row">
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
#{/list}
</tbody>
</table>
</div>
</td></tr></tbody></table>
<div id="toolbar">
<!-- <input type="button" class="btn01" value="添加" onclick="open_dialog('@@{blank()}${params.pid?"?pid="+params.pid:""}',1000,600)"/> -->
<!-- #{if roleMap['delete2']!=0}
<input type="submit" class="btn01" value="删除"/>
#{/if} -->
</div>
<script type="text/javascript">
function checkdate(obj){
	var bool=true;
	if($("#cartype").val()!=""&&($("#endTime").val()==""||$("#startTime").val()=="")){
		alert("访问日期开始到结束必填");
		bool=false;
	}
	if(($("#startTime").val()!=""&&$("#endTime").val()=="")||($("#startTime").val()==""&&$("#endTime").val()!="")){
		alert("访问日期开始到结束必填");
		bool=false;
	}
	if(bool){
		$("#form1").attr("action",obj);
		$("#form1").submit();
	}
}
</script>
</form>
