#{extends "main_list.html"/}
<form>
<table cellspacing="0" cellpadding="0" width="100%" border="0" class="t0">
<tbody><tr><td valign="top" width="100%">
<table cellspacing="0" cellpadding="0" width="100%"><tr>
</tr><tr height="22">
<td valign="middle" align="left" style="padding:5px;">
#{select "searchField",value:params.searchField}
#{option}全部#{/option}
#{option 'nikename'}客户昵称#{/option}
#{option 'openid'}openid#{/option}
#{/select}#{select "condition",value:params.condition}
#{option 'like'}包含#{/option}
#{option '='}=#{/option}
#{option '>'}>#{/option}
#{option '<'}<#{/option}
#{/select}
<input type="text" name="search" value="${params.search}" id="obj_keyword" class="txt01" size="40"/>
<input type="submit" value="搜索" class="btn01"/>
</td>
</tr>
</table>
</td></tr></tbody></table>
</form>
<form action="@@{delete2()}" method="post" onsubmit="return chk_arrayid();" id="listform">
<table height="100%" cellspacing="0" cellpadding="0" width="100%" border="0" class="t0">
<tbody><tr><td valign="top" align="middle" width="100%" height="100%">
<div style="height:${session.get("tableHeight")}px;overflow: auto;">
<table class="t1" cellspacing="0" cellpadding="0">
<thead>
<tr><td colspan="22" class="title">已绑定客户信息</td></tr>
<tr height="22">
<td width="1%"><input type="checkbox" id="chkall"/></td>
<td width="7%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','nikename').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
客户昵称</a></td>
<td width="7%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','nikename').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
单位名称</a></td>
<td width="5%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','type').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
用户类型</a></td>
<td width="6%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','number').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
关注状态</a></td>
<td width="6%"><a class="${order == 'DESC' ? 'sortedDesc' : 'sortedAsc'}" href="@{list().remove('page').add('order', (order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','number').add('search', params.search).add('condition',params.condition).add('field',params.field)}">
时间</a></td>
<td width="10%">&{'option.title'}</td>
</tr></thead>
<tbody>
#{list pagedList.list,as:'row'}
<tr id="tr_${row.id}" class="row">
<td><input type="checkbox" name="arrayid" value="${row.id}"/></td>
<td>${row.nikename}&nbsp;</td>
<td>${row.companyName}&nbsp;</td>
<td>#{if row.buildType==0}企业帐号#{/if}#{if row.buildType==1}监管帐号#{/if}#{if row.buildType==2}未绑定#{/if}&nbsp;</td>
<td>#{if row?.subscribeState==0} 未关注 #{/if}#{elseif row?.subscribeState==1} 关注中 #{/elseif}#{else} 已取消 #{/else}&nbsp;</td> 
<td>#{if row?.subscribeState==0}  #{/if}#{elseif row?.subscribeState==1} ${row?.subscribedate?.format('yyyy-MM-dd HH:mm')} #{/elseif}#{else} ${row?.unsubscribedate?.format('yyyy-MM-dd HH:mm')} #{/else}&nbsp;</td> 
<td>
<a href="javascript:void(0);" onclick="open_dialog('@@{detail(row.id)}',600,400)">查看</a>
<a href="javascript:void(0);" onclick="open_dialog('@@{show(row.id)}',600,400)">修改</a>
<a href="javascript:void(0);" class="option_delete" url="@@{delete(row.id)}">删除</a>
</td>
</tr>
#{/list}
#{list 0..Integer.parseInt(session.get("pageSize"))-pagedList.list.size(),as:'i'}
<tr id="tr0" class="row">
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
#{/list}
</tbody>
</table>
</div>
</td></tr></tbody></table>
<div id="toolbar">
<input type="submit" class="btn01" value="删除"/>
<input type="button" onclick="attractiontwo('getNikenameAll2')"  class="btn01" style="width: 100px;" value="获取所有昵称"/>
#{page pagedList /}
</div>
<script type="text/javascript">
function attractiontwo(obj){
  	$("#listform").attr("action",obj);
  	$("#listform").attr("onsubmit","");
  	if(!confirm("确定执行操作?")) return false;
  	loadingcontent();
	$("#listform").submit();
}
</script>
</form>
