#{extends "main_list.html"/}
<form>
<table cellspacing="0" cellpadding="0" width="100%" border="0" class="t0">
<tbody><tr><td valign="top" width="100%">

<table height="100%" cellspacing="0" cellpadding="0" width="100%" border="0" class="t0">
<tbody><tr><td valign="top" align="middle" width="100%" height="100%">
<div style="height:400px;overflow: auto;">
<table class="t1" cellspacing="0" cellpadding="0">
<thead>
<tr><td colspan="8" class="title">行为管理列表</td></tr>
<tr height="22">
<td width="15%">用户</a></td>
<td width="15%">点击次数</td>
<td width="15%">提交次数</td>
<td width="15%">错误次数</td>
</tr></thead>
<tbody>
#{list result,as:'row'}
<tr class="row">
<td>${row.username}</td>
<td><a href="@{list()}?datetime=${params.datetime}&uid=${row.uid}">${row.total}</a>&nbsp;</td>
<td>${row.post}&nbsp;</td>
<td>${row.message}&nbsp;</td>
</tr>
#{/list}
</tbody>
</table>
</div>
</td></tr></tbody></table>