<!DOCTYPE HTML>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
    
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script>
	$(function(){
		wx.config({
		beta: true, // 开启内测接口调用，注入wx.invoke方法
		    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		    appId: 'wxe7f8cddc17829dde', // 必填，公众号的唯一标识
		    timestamp: '${wxJSApi.getTimestamp()}', // 必填，生成签名的时间戳
		    nonceStr: '${wxJSApi.getNonceStr()}', // 必填，生成签名的随机串
		    signature: '${wxJSApi.getSignature()}',// 必填，签名，见附录1
		    jsApiList: ["openWXDeviceLib","startScanWXDevice","onReceiveDataFromWXDevice","onScanWXDeviceResult"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		});
		
		wx.ready(function(){

		    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
			wx.invoke('openWXDeviceLib', {}, function(res){
			//这里是回调函数
			alert(JSON.stringify(res));  //开启蓝牙库
			});
			
			// config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
			wx.invoke('startScanWXDevice', {btVersion:'ble'}, function(res){
			//这里是回调函数
			alert(JSON.stringify(res));  //开启蓝牙搜索
			
			});

			//扫描到设备的回调
			wx.on('onScanWXDeviceResult', function(res){
			//这里是回调函数
			alert(JSON.stringify(res));  
			});
		});
	})
	</script>

</head>
<body>



</body>
</html>