<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>404</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link rel="stylesheet" type="text/css" href="/public/stylesheets/404/css/error.css" media="screen" />
</head>
<body>
<div id="container"><img class="png" src="/public/stylesheets/404/images/404.png" /><img class="png msg" src="/public/stylesheets/404/images/404_msg.png" />
<p>
<!-- <a href="/"><img class="png" src="/public/stylesheets/404/images/404_to_index.png" /></a> -->
</p>
</div><div id="cloud" class="png"></div>
</body>
</html>