#{extends "main_list.html"/}
%{
    def map = [:]
    map['object'] 		= "word"
    map['fields'] 		= ['wordType','name','sort','flag','typeno','notice']
    map['widths'] 		= ['20','20','10','10','7','22']
    map['width']		= 600
    map['height']		= 350
    map['searchFields'] = ['name']
}%
#{table.list map}
#{table.custom 'flag'}
${(row.flag==1)?"使用":"停用"}
#{/table.custom}
#{table.custom 'option'}
&nbsp;
#{if roleMap['detail']!=0}
<a href="javascript:void(0);" onclick="open_dialog('/Words/detail?id=${row.id}',1200,600)">查看</a>
#{/if}
#{if roleMap['show']!=0}
<a href="javascript:void(0);" onclick="open_dialog('/Words/show?id=${row.id}',1200,600)">修改</a>
#{/if}
#{if roleMap['delete']!=0}
<a href="javascript:void(0);" class="option_delete" url="/Words/delete?id=${row.id}">删除</a>
#{/if}
#{/table.custom}
#{table.custom 'buttons'}
#{if roleMap['blank']!=0}
<input type="button" class="btn01" value="添加" onclick="open_dialog('@@{blank}',1200,400)"/>
#{/if}
#{if roleMap['delete']!=0}
<input type="submit" class="btn01" value="删除"/>
#{/if}
#{/table.custom}
#{/table.list}