#{field _object + '.' + _name}
	#{if _label}
	<label for="${field.id}">
		&{_inputName + "." + _name}
	</label>
	#{/if}
	#{if _input}
	<input id="${field.id}" style="width: ${_input.size}" class="txt01 ${field.errorClass}" type="password" name="${field.name}" value="${_value?.escape()?.raw()}"/>
	#{/if}
	#{else}
	<input id="${field.id}" class="${field.errorClass} txt01" type="password" name="${field.name}" value="${_value?.escape()?.raw()}"/>
	#{/else}
	#{ifError field.name}
		<span class="error">${field.error}</span>
	#{/ifError}
#{/field}