#{extends "main_list.html"/}
%{
    def map = [:]
    map['object'] 		= "roleControl"
    map['fields'] 		= ['name','menuStr','controller','action','sort','value']
    map['widths'] 		= ['20','15','15','15','10','12']
    map['width']		= 600
    map['height']		= 260
    map['searchFields']   = ['name','controller','action']
}%
#{table.search map/}
#{table.list map}
#{table.custom 'option'}
&nbsp;
#{if roleMap['detail']!=0}
<a href="javascript:void(0);" onclick="open_dialog('/RoleControls/detail?id=${row.id}',600,260)">查看</a>
#{/if}
#{if roleMap['show']!=0}
<a href="javascript:void(0);" onclick="open_dialog('/RoleControls/show?id=${row.id}',600,260)">修改</a>
#{/if}
#{if roleMap['delete']!=0}
<a href="javascript:void(0);" class="option_delete" url="/RoleControls/delete?id=${row.id}">删除</a>
#{/if}
#{/table.custom}
#{table.custom 'buttons'}
#{if roleMap['blank']!=0}
<input type="button" class="btn01" value="添加" onclick="open_dialog('/RoleControls/blank?id=${id}',600,260)"/>
#{/if}
#{if roleMap['delete']!=0}
<input type="submit" class="btn01" value="删除"/>
#{/if}
#{/table.custom}
#{/table.list}